img {
    width: 100%;
    height: auto;
  }
  
  .container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
  }
  
  html {
    font-size: 10px;
    font-family: "Titillium Web", sans-serif;
  }
  
  body {
    font-size: 18px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }
   
  .clearfix:after {
    clear: both;
  }
   
  .clearfix {
    zoom: 1; /* ie 6/7 */
  }
header {
    background: #87509c;
    padding: 50px 0;
  .logo{ 
    float: left;
    svg{
      height: 34px;
      width: auto;
    }
  }
  .header-menu{
    float: right;
  }
  }
  .checkbox-menu-btn{
    display: none;
  }
  .burger-btn{
    display: none;
  }
  .header-menu-content {
    
    li {
      padding: 8px 14px;
      border-radius: 3px;
      display: inline-block;
      transition: 0.3s linear;
      a {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 18px;
      }
      &:hover {
        background: #643a79;
      }
    }
  }
  .banner-text {
    padding-top: 150px;
    padding-bottom: 60px;
    margin: 0 auto;
    text-align: center;
    p {
      font-size: 42px;
      line-height: 48px;
      color: #fff;
      font-weight: 700;
      padding-bottom: 55px;
    }
    button {
      width: 290px;
      background: #eb7d4b;
      color: #fff;
      padding: 27px 0;
      border-radius: 4px;
      font-weight: 600;
      border: none;
      box-shadow: 0px 5px 0px 0px #c86a40;
      
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:active{
        box-shadow: 0px 0px 1px 0px;
      }
    }
  }